	// Fonts
	$open: 'Open Sans', sans-serif;
	$libre: 'Libre Baskerville', serif;

	// Colors
	$complementary: #FF6600;

	// Breakpoints
	$tablet: 700px;
	$mid-width: 900px;

	// Mixins
	@mixin mq( $breakpoint ){
		@media screen and ( min-width: $breakpoint ){
			@content;
		}
	}

html{
	overflow-x: hidden;
}

body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font: 400 .7rem/1.6 $libre;
	color: #444444;
	overflow-x: hidden;

	@include mq( $tablet ){
		font-size: .8em;
	}

	@include mq( $mid-width ){
		font-size: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: $open;
	margin: .15em 0;
	line-height: 1.2;
}

h1{
	font-family: $libre;
	font-size: 5em;
	font-weigt: bold;
}

h2{
	font-size: 3em;

	a{
		color: inherit;
	}
}

h3{
	font-style: italic;
	line-height: 1.5;
}

h4{
	font-size: 1.75em;
}

a{
	color: $complementary;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s ease;
}

p{
	margin: 15px 0;
}

p,
li{
	font-size: .9rem;

	@include mq( 800px ){
		font-size: 1rem;
	}
}

blockquote{
	font-size: 1.3em;
	position: relative;
	margin-left: 50px;

	&:before{
		content: '\0022';
		position: absolute;
		left: -40px;
		font-size: 4em;
		line-height: 1;
	}
}

table{
	border-collapse: collapse;
	margin: 10px 0;

	th,
	td{
		padding: 7px;
		border-bottom: 1px solid #ccc;
	}

	th{
		font-weight: bold;
		text-align: left;
	}
}

.site-header{
	margin: 15px auto;
	width: 95%;
	max-width: 1100px;
	overflow-x: hidden;
	color: #202020;

	p,
	ul{
		max-width: 50%;

		@include mq( 600px ){
			max-width: 100%;
		}
	}

	a{
		color: inherit;

		&:hover,
		&:focus{
			color: $complementary;
		}
	}

	.logo{
		float: left;
		font-size: 1.3rem;
	}

	ul{
		float: right;
		text-align: right;
		padding-left: 0;

		li{
			list-style-type: none;
			display: inline-block;
			font-size: 1.1rem;
			text-transform: uppercase;

			&:after{
				content: "/";
				padding: 0 10px;
			}

			@include mq( $tablet ){
				&:last-of-type:after{
					display: none;
				}
			}
		}
	}
}

.main{
	h1{
		font-size: 6em;
	}

	h3 a{
		color: inherit;
		text-decoration: underline;
	}
}

.container{
	width: 95%;
	margin: auto;
	max-width: 900px;
	clear: both;

	&>div{
		margin: 15px 0;
		padding: 15px 0;
	}
}

img{
	max-width: 100%;
	height: auto;
}

img.expand{
	position: relative;
	max-width: 200%;
	left: 50%;
	transform: translate( -50%, 0 );
}

div.blog{
	padding: 15px;
	border-top: 2px solid #ccc;
}

.companies{
	padding-left: 0;

	li{
		list-style-type: none;
	}
}

.site-footer{
	margin: 20px 0;
	text-align: center;
	border-top: 2px solid #ccc;

	.social{
		$social-width: 2em;
		display: inline-block;

		a{
			display: inline-block;
			background-color: #444444;
			height: $social-width;
			width: $social-width * 1.1;
			border-radius: 60%;
			margin-right: 5px;
			text-align: center;
			padding-top: 4px;

			&.linkedin,
			&.github{
				padding-left: 2px;
			}

			svg{
				width: $social-width * .7;
				height: $social-width * .7;
				display: inline-block;
				margin-top: 3px;
			}

			.svg-main-color{
				fill: #fff;
			}

			&:hover,
			&:focus{
				background-color: $complementary;
			}
		}
	}
}